<!-- <p>
  home-traveller works!
</p> -->
<section class="">
  <section class="main">
    <div class="header-wrapper">
      <div class="container">
        <header class="bg-color-white">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" routerLink="/home">
              <span class="logo-container">
                <img src="assets/images/logo-small.png" class="logo-img" />
              </span>
              <span class="logo-text">Discover Buyer Power</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li> -->
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button type="button" class="btn btn-link transparent-button login-menu-button">
                    Login &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <section class="page-content">
      <img class="top-red-sticker" src="assets/images/redMark.png"/>
      <div class="right-container">
        <div class="right-bg-image">
          <!-- <img src="assets/images/never-stop-exploring-with-cup.jpg"/> -->
        </div>
        <div class="text-detail">
          <p class="text">Let offers
            <br/> come knocking...</p>
          <img src="assets/images/red-blue-tilde.png" />
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-container">
              <h2 class="heading-text text-blue-gradient">Why search?</h2>
              <br/>
              <!-- <h2 class="desc">What kind of holiday destination do you want?</h2>
              <br/> -->
              <h2 class="heading-text text-blue-gradient">To get the most, just post!</h2>
              <br/>
              <p class="desc">Get customised holiday offers from travel agencies</p>
              <br/>
              <div class="destination-section">
                <button routerLink="/postRequestTravel">
                  Get Started
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>