<!-- <p>
  home works!
</p> -->
<section class="container-fluid container-1600">
  <section class="main">
    <div class="header-wrapper">
      <div class="">
        <header class="bg-color-white">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" routerLink="/home">
              <span class="logo-container">
                <img src="assets/images/logo.png" class="logo-img" />
              </span>
              <span class="logo-text">Discover Buyer Power</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/homeTraveller">Post your need
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">How it works</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My offers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Buyer Postings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dark-blue-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dark-blue-link" href="#">Operator Login</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <section class="page-content">
      <div class="">
        <!-- stop-searching-section -->
        <div class="bg-color-white">
          <div class="stop-searching-section">
            <div class="row">
              <div class="col-lg-6">
                <div class="left-container">
                  <h1 class="heading-text text-blue-gradient">Stop Searching</h1>
                  <h1 class="heading-text text-blue-gradient">Start Posting</h1>
                  <p class="desc">Get Customized Holiday Quotes
                    <br/> from Travel Experts</p>
                  <div class="destination-section">
                    <h2 class="desc">What kind of holiday destination do you want?</h2>
                    <div class="">
                      <a href="#" class="destination-box">
                        <img src="assets/images/destination-domestic.png" />
                        <span class="name text-blue-gradient">India</span>
                      </a>
                      <a class="destination-box" href="#">
                        <img src="assets/images/destination-international.png" />
                        <span class="name text-blue-gradient">International</span>
                      </a>
                      <!-- <a class="destination-box" href="#">
                        <img src="assets/images/destination-domestic.png"/>
                        <span>I want to explore <br/>both options</span>
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-container">
                  <div class="right-pattern-image">
                    <img src="assets/images/home-stop-searching.jpg" class="logo-img" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- how-it-works -->
        <div class="bg-color-white">
          <div class="how-it-works">
            <h1 class="section-header text-center">
              <span class="text-blue-gradient">How it works</span>
            </h1>
            <div class="video-wrapper">
              <div class="video-container">
                <img src="assets/images/video-bg-image.jpg" class="video-img" />
                <a href="#how-it-works-modal" data-toggle="modal">
                  <img src="assets/images/play-button.png" class="video-play-button" />
                </a>
              </div>
            </div>
            <div class="topic-container">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="box-container">
                        <h3 class="text-header text-blue-gradient">Post Your Holiday
                          <br/>Requirement</h3>
                        <p class="desc">Stop searching all over the internet and answer some simple questions to post your holiday needs.
                          It takes 5 minutes!</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-container">
                        <h3 class="text-header text-blue-gradient">Travel Operators
                          <br/>Alerted</h3>
                        <p class="desc">NockNock shows your post to dozens of verified, trusted travel operators and sellers in India and
                          around the world.</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-container">
                        <h3 class="text-header text-blue-gradient">Receive
                          <br/>Quotes</h3>
                        <p class="desc">Multiple operators with experience in creating your kind of holiday respond to you with their quotes
                          and itineraries.
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-container">
                        <h3 class="text-header text-blue-gradient">Direct Touch With
                          <br/>Operators</h3>
                        <p class="desc">You shortlist from all operators who respond, and get in direct touch with ones who best fit your
                          need. Speak to one, or as many travel operators as you like. Your choice.</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="box-container">
                        <h3 class="text-header text-blue-gradient">Finalise Your
                          <br/>Trip</h3>
                        <p class="desc">Finalise your itinerary and bookings after private negotiations with operators. Pay them directly.
                          And off you go!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="facility-container">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="facility-box">
                        <img src="assets/images/facility1.png" alt="" class="facility-img">
                        <p class="desc">Convenient - No Need To Search All Over the internet</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="facility-box">
                        <img src="assets/images/facility2.png" alt="" class="facility-img">
                        <p class="desc">Trusted experts - 100’s of Verified, Experienced Travel Operators</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="facility-box">
                        <img src="assets/images/facility3.png" alt="" class="facility-img">
                        <p class="desc">Never miss a thing – Many Iitineraries to choose from</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="facility-box">
                        <img src="assets/images/facility4.png" alt="" class="facility-img">
                        <p class="desc">Direct touch with operators – no cuts & commission</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- your-control-section -->
        <div class="bg-color-white">
          <div class="your-control-section">
            <h1 class="header-text text-center text-blue-gradient">Ready to take control of your Experiences?</h1>
            <p class="desc-title text-center">What kind of holiday destination do you want?</p>
            <div class="box-container">
              <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="col-md-4 col-sm-4 text-right">
                  <a href="#" class="destination-box">
                    <img src="assets/images/destination-domestic1.png" alt="">
                    <span class="text-blue-gradient name">India</span>
                  </a>
                </div>
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-4 col-sm-4 text-left">
                  <a href="#" class="destination-box">
                    <img src="assets/images/destination-international1.png" alt="">
                    <span class="text-blue-gradient name">International</span>
                  </a>
                </div>
                <!-- <a href="#" class="destination-box">
                                    <img src="assets/images/destination-domestic1.png" alt="">
                                    <span class="text-blue-gradient">I want to explore</span>
                                    <span class="text-blue-gradient">both options</span>
                                </a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- buyer-posting -->
        <div class="bg-color-white">
          <div class="stop-searching-section buyer-posting">
            <div class="row">
              <div class="col-lg-6">
                <div class="left-container">
                  <h1 class="sample-text">Sample</h1>
                  <h1 class="heading-text">
                    <span class="text-blue-gradient">Buyer</span>
                  </h1>
                  <h1 class="heading-text">
                    <span class="text-blue-gradient">Posting</span>
                  </h1>
                  <p class="desc">Get multiple personalised quotes for
                    <br/>any or all your travel requirements.</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-container">
                  <div class="right-pattern-image">
                    <img src="assets/images/buyer-posting-sample.jpg" class="logo-img" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- happy-travellers -->
        <div class="bg-color-white">
          <div class="happy-travellers-section">
            <h1 class="header-text text-center text-blue-gradient">
              <span class="text-blue-gradient">Happy Travellers</span>
            </h1>
            <div class="row">
              <div class="col-md-2 hidden-sm"></div>
              <div class="col-md-8 col-sm-12">
                <div class="person-reviews">
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                  <div>
                    <h3 class="text-center quote-img">
                      <img src="assets/images/double-quote-blue.png" class="inline-block" />
                    </h3>
                    <p class="review-text">“I posted my requirement because Nock Nock sounded like a new and interesting approach that focuses on
                      the travelers. The response has been very encouraging.”</p>
                  </div>
                </div>
                <div class="person-images">
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                  <div>
                    <div class="persion-slide">
                      <img src="assets/images/person.png" alt="">
                      <h5 class="text-center name">Rohit Verma</h5>
                      <p class="text-center position">Architect</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- holiday-destination -->
        <div class="bg-color-white">
          <div class="your-control-section holiday-destination">
            <h1 class="header-text text-center">What Kind of holiday destination do you want?</h1>
            <!-- <div class="text-center box-container">
                  <a href="#" class="destination-box">
                      <img src="assets/images/destination-domestic-white.png" alt="">
                      <span class="caption-text">Domestic</span>
                  </a>
                  <a href="#" class="destination-box">
                      <img src="assets/images/destination-international-white.png" alt="">
                      <span class="caption-text">International</span>
                  </a>
                  <a href="#" class="destination-box">
                      <img src="assets/images/destination-domestic-white.png" alt="">
                      <span class="caption-text">I want to explore</span>
                      <span class="caption-text">both options</span>
                  </a>
              </div> -->
            <div class="box-container">
              <div class="row">
                <div class="col-md-1 col-sm-1"></div>
                <div class="text-right col-md-4 col-sm-4">
                  <a href="#" class="destination-box">
                    <img src="assets/images/destination-domestic-white.png" alt="">
                    <span class="name caption-text">India</span>
                  </a>
                </div>
                <div class="col-md-2 col-sm-1"></div>
                <div class="text-left col-md-4 col-sm-4">
                  <a href="#" class="destination-box">
                    <img src="assets/images/destination-international-white.png" alt="">
                    <span class="caption-text name">International</span>
                  </a>
                </div>
                <!-- <a href="#" class="destination-box">
                    <img src="assets/images/destination-domestic1.png" alt="">
                    <span class="text-blue-gradient">I want to explore</span>
                    <span class="text-blue-gradient">both options</span>
                </a> -->
              </div>
            </div>

          </div>
        </div>
        <!-- footer -->
        <div class="bg-color-white">
          <div class="footer-section">
            <footer class="">
              <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"></a>
                <!-- <span class="logo-container">
                <img src="../assets/images/logo.png" class="logo-img"/>
               
              </span>
              <span class="logo-text">Discover Buyer Power</span> -->
                <div class="navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto menu-footer">
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Careers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">FAQ’s</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Terms of Use</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Help</a>
                    </li>
                  </ul>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </footer>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
<div id="how-it-works-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!-- <h4 class="modal-title">YouTube Video</h4> -->
      </div>
      <div class="modal-body">
        <!-- https://www.youtube.com/embed/ZSt9tm3RoUU?autoplay=1 -->
        <iframe id="cartoonVideo" width="560" height="315" src="https://www.youtube.com/embed/ZSt9tm3RoUU" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>