<!-- <p>
  post-request-budget works!
</p> -->
<section class="">
  <section class="main">
    <div class="header-wrapper">
      <div class="container">
        <header class="bg-color-white">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" routerLink="/home">
              <span class="logo-container">
                <img src="assets/images/logo-small.png" class="logo-img" />
              </span>
              <span class="logo-text">Discover Buyer Power</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button type="button" class="btn btn-link transparent-button login-menu">
                    Login &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </nav>
        </header>
      </div>
    </div>
    <section class="page-content">
      <img class="top-red-sticker" src="assets/images/redMark.png" />
      <div class="left-container">
        <div class="left-bg-image">
          <!-- <img src="assets/images/never-stop-exploring-with-cup.jpg"/> -->
        </div>
        <div class="text-detail">
          <p class="text">Let offers
            <br/> come knocking...</p>
          <img src="assets/images/red-blue-tilde.png" />
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-7">
            <div class="right-container">
              <div class="right-content">
                <wizard navBarLocation="right">
                  <wizard-step stepTitle="Step 01" (stepEnter)=onStepEnter1() optionalStep>

                    <!-- <button type="button" nextStep>Next Step</button>
                  <button type="button" goToStep="2">Go directly to third Step</button> -->
                  </wizard-step>
                  <wizard-step stepTitle="Step 02" (stepEnter)=onStepEnter2() optionalStep>
                    <!-- <button type="button" previousStep>Go to previous step</button> -->



                    <!-- <button type="button" nextStep>Go to next step</button> -->
                  </wizard-step>
                  <wizard-step stepTitle="Step 03" (stepEnter)=onStepEnter3() selectedStep>

                    <button mat-icon-button mat-button routerLink="/postRequestLive">
                      <i class="material-icons">arrow_back</i>
                    </button>
                    <div class="post-request-step post-request-step3">
                      <div>
                        <h4 class="heading-text">Indicate your hotel and/or budget preferences
                          <span class="red-star">*</span>
                        </h4>
                        <br/>
                        <br/>
                        <h5 class="heading-text">Hotel</h5>
                        <br/>
                        <div class="radioChk">
                          <div>&nbsp;&nbsp;&nbsp;
                            <!-- <mat-checkbox>BnBa</mat-checkbox> -->
                            <label class="custom-checkbox-input">
                              <input type="checkbox" value="BnBa" (change)="onHotelChk()" />
                              <span class="box"></span>
                              BnBa
                            </label>
                          </div>
                          <div>&nbsp;&nbsp;&nbsp;
                            <!-- <mat-checkbox>Upto 3 star</mat-checkbox> -->
                            <label class="custom-checkbox-input">
                              <input type="checkbox" value="Upto 3 star" (change)="onHotelChk()" />
                              <span class="box"></span>
                              Upto 3 star
                            </label>
                          </div>
                          <div>&nbsp;&nbsp;&nbsp;
                            <!-- <mat-checkbox>4/5 star</mat-checkbox> -->
                            <label class="custom-checkbox-input">
                              <input type="checkbox" value="4/5 star" (change)="onHotelChk()" />
                              <span class="box"></span>
                              4/5 star
                            </label>
                          </div>
                          <div class="radios-container">
                            <label class="radio-inline">
                              <input type="radio" name="optradio" (change)="onRadioChk()" value="Close to city center (may be expensive)"> Close to city center (may be expensive)</label>
                            <br/>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" (change)="onRadioChk()" value="Away from city center"> Away from city center</label>
                            <br/>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" (change)="onRadioChk()" value="Near train station"> Near train station</label>
                            <br/>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" (change)="onRadioChk()" value="Near airport"> Near airport</label>

                            <!-- <mat-radio-group class="example-radio-group">
                              <mat-radio-button class="example-radio-button" *ngFor="let str of hotel_preference" [value]="str" (change)="onRadioChk()">
                                {{str}}
                              </mat-radio-button>
                            </mat-radio-group> -->
                          </div>
                        </div>
                        <!-- <mat-radio-group>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-radio-button [value]="city-center">Close to city center (may be expensive)</mat-radio-button>
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-radio-button>Away from city center</mat-radio-button>
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-radio-button>Near train station</mat-radio-button>
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <mat-radio-button>Near airport</mat-radio-button>
                          <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </mat-radio-group> -->
                        <!-- <div>&nbsp;&nbsp;&nbsp;
                          <mat-checkbox>same as city resdence</mat-checkbox>
                        </div> -->
                        <!-- <div>
                          <button mat-button matStepperPrevious>Back</button>
                        </div> -->
                        <!-- <div id="slider-range"></div> -->
                        <br/>
                        <br/>
                        <h5 class="heading-text">Budget (INR)
                          <!-- <span class="red-star">*</span> -->
                        </h5>
                        <br/>
                        <br/>
                        <br/>
                        <div class="custom-budget-slider">
                          <div class="row">
                            <input readonly type="text" class="minValue sliderValue col-xs-2" data-index="0" value="10000" />
                            <div id="budgetSlider" class="budgetSlider col-xs-8"></div>
                            <input readonly type="text" class="maxValue sliderValue col-xs-2" data-index="1" value="100000" />
                          </div>
                        </div>
                        <br/>
                        <br/>
                        <!-- <div>&nbsp;&nbsp;&nbsp;
                          <mat-checkbox>Include flights in the offer</mat-checkbox>
                        </div> -->
                        <div>&nbsp;&nbsp;&nbsp;
                          <!-- <mat-checkbox>4/5 star</mat-checkbox> -->
                          <label class="custom-checkbox-input" (click)="onIncludeFlight()">
                            <input type="checkbox" class="include_flight" value="Include flights in the offer" />
                            <span class="box"></span>
                            Include flights in the offer
                          </label>

                        </div>
                        <br/>
                        <br/>
                        <select class="light-gray-button btn country-button">
                          <option>Economy</option>
                          <option>Business</option>
                          <option>First class</option>
                        </select>
                        <br/>
                        <br/>
                        <br/>
                      </div>
                      <div>
                        <h4 class="heading-text">Choose your requirements
                          <span class="red-star">*</span>
                        </h4>
                        <br/>
                        <br/>
                        <div>
                          Food &nbsp;&nbsp;&nbsp;
                          <select class="light-gray-button btn country-button" id="food_preference">
                            <option>Vegetables</option>
                            <option>Grain foods</option>
                            <option>Meats</option>
                            <option>Poultry</option>
                            <option>Eggs</option>
                          </select>
                        </div>
                        <br/>
                        <br/>
                        <p>Any special requirements?</p>
                        <mat-form-field class="brief-text-other">
                          <span matPrefix class="i-text">I &nbsp;</span>
                          <input type="text" class="other-text food_description" matInput placeholder="Example: Include only pet friendly hotels">
                          <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
                        </mat-form-field>
                        <br/>
                        <br/>
                        <br/>
                      </div>
                      <div>
                        <h4 class="heading-text">Whom would you like offers from?
                          <span class="red-star">*</span>
                        </h4>
                        <h6 class="heading-text">(You can choose more than one)</h6>
                        <br/>
                        <br/>
                        <div class="theme-boxes">
                          <div class="theme-box offer-box">
                            <label class="">
                              <input type="checkbox" class="themeChk" (change)="onThemeChk()" value="Travel agencies in my city" />
                              <div class="sub-box">
                                <span class="theme-text">Travel agencies in my city</span>
                              </div>
                            </label>
                          </div>
                          <div class="theme-box offer-box">
                            <label class="">
                              <input type="checkbox" class="themeChk" (change)="onThemeChk()" value="National travel agencies" />
                              <div class="sub-box">
                                <span class="theme-text">National travel agencies</span>
                              </div>
                            </label>
                          </div>
                          <div class="theme-box offer-box">
                            <label class="">
                              <input type="checkbox" class="themeChk" (change)="onThemeChk()" value="Travel agencies in my holiday destination" />
                              <div class="sub-box">
                                <span class="theme-text">Travel agencies
                                  <br/> in my holiday destination</span>
                              </div>
                            </label>
                          </div>
                          <div class="theme-box offer-box">
                            <label class="">
                              <input type="checkbox" class="themeChk" (change)="onThemeChk()" value="Travel agencies in major metros" />
                              <div class="sub-box">
                                <span class="theme-text">Travel agencies in major metros</span>
                              </div>
                            </label>
                          </div>
                          <!-- <mat-checkbox class="theme-box offer-box">
                            <span class="theme-text">Travel agencies in my city</span>
                          </mat-checkbox>
                          <mat-checkbox class="theme-box offer-box">
                            <span class="theme-text">National travel agencies</span>
                          </mat-checkbox>
                          <mat-checkbox class="theme-box offer-box">
                            <span class="theme-text">Travel agencies
                              <br/> in my holiday destination</span>
                          </mat-checkbox>
                          <mat-checkbox class="theme-box offer-box">
                            <span class="theme-text">Travel agencies in major metros</span>
                          </mat-checkbox> -->
                          <br/>
                          <br/>
                          <!-- <div class="text-right">
                            <button mat-button matStepperNext class="btn-blue-gradient">Next</button>
                          </div> -->
                        </div>
                        <!-- <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider> -->
                        <div class="text-right">
                          <button mat-button routerLink="/login" class="btn-blue-gradient">Next</button>
                        </div>
                      </div>
                    </div>
                    <div></div>
                    <div></div>
                    <!-- <button type="button" previousStep>previousStep </button>
                    <button type="button" nextStep>nextStep </button> -->
                  </wizard-step>
                  <wizard-step stepTitle="Step 04" (stepEnter)=onStepEnter4()>
                    <!-- Content of Step 4
                    <button type="button" routerLink="/login">previousStep </button>
                    <button type="button" nextStep>nextStep </button> -->
                  </wizard-step>
                  <!-- <wizard-completion-step>
                   Content of Step 5
                  <button type="button" previousStep>previousStep </button>
                  <button type="button" nextStep>nextStep </button>
                  <button type="button">Finish</button>
                </wizard-completion-step> -->
                </wizard>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>